# Core Python Libraries
logging
json
os
subprocess
uuid
datetime
re
sys
manim
streamlit
ollama
git+https://github.com/xposed73/kokoro-manim-voiceover.git

# LLM Integration
openai
anthropic  #Claude API